SESSION_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
IMAGES_CONTAINER_SAS=""
FEED_CONTAINER_SAS=""
BACKUPS_CONTAINER_SAS=""
GITHUB_PAT=""
ADMIN_EMAIL="tapankumarbarik7@gmail.com"
SITE_ORIGINS="http://localhost:4173,http://localhost:8788"
